{% extends "header.html" %}
{% load static %}
{% block content %}
<div class="content_data_page">
    <div class="formulario" style="overflow-x: auto;">
        <form action="{% url 'train'%}" method="POST">
            {% csrf_token %}
            <div class="row">
                <h2>Entrenar modelo</h3>
                <div class="col">
                    <div class="option_div">
                        <h4>Mercado de comercialización</h4>
                        <select class="w-50" name="mc">
                            {% for mc in MCModel %}
                                <option value="{{mc}}">{{mc}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="option_div">
                        <h4>Modelo de entrenamiento</h4>
                        <select class="w-50", name = "model">
                            <option value="SVR">SVR</option>
                            <option value="ANN">ANN</option>
                            </select>
                    </div>
                    <div class="option_div">
                        <h4>Datos de fechas</h4>
                        {% if error %}
                            <div class="option_div warning">
                                <span>{{error}}</span>
                            </div>  
                        {% endif %}
                        <label class="w-100">Seleccione la fecha de inicio de entrenamiento</label>
                        <input class="w-100" type="date" id="start_train" name="train_start" />
                        <label class="w-100">Seleccione la fecha final de entrenamiento</label>
                        <input class="w-100" type="date" id="train_finish" name="train_finish" />
                        <label class="w-100">Seleccione la fecha de inicio de testeo</label>
                        <input class="w-100" type="date" id="start_test" name="test_start" />
                        <label class="w-100">Seleccione la fecha final de testeo</label>
                        <input class="w-100" type="date" id="finish" name="test_finish" />
                    </div>
                </div>
                <div class="col" style="margin-left: 2%;">
                    <div class="option_div">
                        <h4>Seleccione coordenadas <a href="https://open-meteo.com/en/docs/historical-weather-api" target="_blank">aquí</a></h4>
                        <label class="w-100">Latitud</label>
                        <input class="w-50" type="number" step="0.01" name="latitud"/>
                        <label class="w-100">Longitud</label>
                        <input class="w-50" type="number" step="0.01" name="longitud"/>
                    </div>
                    <div class="option_div">
                        <h4>Hiperparametros del modelo <a href="https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVR.html" target="_blank">SVR</a></h4>
                        <div class="row">
                            <div class="col">
                                <label class="w-100">&epsilon;</label>
                                <input class="w-50" type="number" step="0.01" name="eps"/>
                                <div class="row">
                                    <div class="col">
                                        <label class="w-100">&gamma;1</label>
                                        <input class="w-100" type="number" step="0.01" name="gam"/>
                                    </div>
                                    <div class="col">
                                        <label class="w-100">&gamma;2</label>
                                        <input class="w-100" type="number" step="0.01" name="gamma2"/>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col">
                                <label class="w-100" for="kernel">Kernel</label>
                                <select class="w-50" name="kernel">
                                    <option value="rbf">rbf (default)</option>
                                    <option value="linear">linear</option>
                                    <option value="poly">poly</option>
                                    <option value="sigmoid">sigmoid</option>
                                    <option value="precomputed">precomputed</option>
                                </select>
                                <div class="row">
                                    <div class="col">
                                        <label class="w-100">C1</label>
                                        <input class="w-100" type="number" name="C"/>
                                    </div>
                                    <div class="col">
                                        <label class="w-100">C2</label>
                                        <input class="w-100" type="number" name="C2"/>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-left: 5%;">
                    <div class="option_div">
                        <h4>Predictores temporales</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="dayHour" checked/>
                            <label for="dayHour" class="form-check-label">
                                Hora del día
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="dayOfTheWeek" checked />
                            <label class="form-check-label" for="dayOfTheWeek">
                                Día de la semana
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="festDay"checked />
                            <label class="form-check-label" for="festDay">
                                Indicadores de festivos y fines de semana
                            </label>
                        </div>
                    </div>
                    <div class="option_div">
                        <h4>Predictores de demanda</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="24_HRS" checked id="24-HRS"/>
                            <label for="24_HRS" class="form-check-label">
                                Promedio de demanda de 24 horas anteriores
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="1d_bef" checked />
                            <label class="form-check-label" for="flexCheckChecked">
                                Demanda de la hora coincidente con el día anterior
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="7d_bef"checked />
                            <label class="form-check-label" for="flexCheckChecked">
                                Demanda de la hora coincidente de hace una semana
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="option_div">
                        <h4>Variables metereológicas por hora</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="temperature_2m"/>
                                    <label class="form-check-label">
                                        Temperatura (2 m)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="relativehumidity_2m"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Humedad relativa (2 m)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="dewpoint_2m"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Punto de rocío (2 m)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="apparent_temperature"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Temperatura aparente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="pressure_msl"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Presión a nivel del mar 
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="surface_pressure"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Presión superficial
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="precipitation" />
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Precipitación (lluvia + chubascos + nieve) 
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="rain" />
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Lluvia (lluvia + chubascos) 
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="snowfall"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Nevada 
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="cloudcover"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Nubosidad total
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="cloudcover_high"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Nubosidad alta
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="cloudcover_mid"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Nubosidad media
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="cloudcover_low"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Nubosidad baja
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="shortwave_radiation"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Radiación solar de onda corta
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="direct_radiation"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Radiación solar directa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="diffuse_radiation"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Radiación solar difusa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="direct_normal_irradiance"/>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Irradiancia normal directa (DNI) 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="option_div">
                        <h4>Nombrar modelo</h4>
                        <label class="w-100" for="model-name">Por favor digite un nombre que le quiera dar al modelo que se va a entrenar</label>
                        <input type="text" id="model-name" name="modelName" placeholder="SVR-2023-02-25-4:20">
                    </div>
                    <div class="button_entrenar text-center">
                        <button type="submit">
                            <img src="{% static 'images/entrenar.png'%}" alt="mas" />
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="{% static 'js/draw_time_series.js' %}"></script>
        {% with inicio=inicio final=final min=min max=max%}
        <script>
            function call_results(){
                const results_container = document.getElementById('results');
                results_container.style.display = 'block';
                var data = JSON.parse('{{ data|escapejs }}');
                plotTimeSeries(data, '{{min}}', '{{max}}', '{{inicio}}', '{{final}}')
            }
        </script>
        {% endwith %}
    </div>
    <div class="row resultados w-100" id="results" style="display:none;">
        <h4>Resultados de entrenamiento</h4>
        <div class="w-100" id='plot'><!-- Plotly chart will be drawn inside this DIV --></div>
        <table class="table metrics w-50">
            <thead class="tablehead">
                <tr>
                    <th>Métricas</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tg-bgtg">MAPE</td>
                <td class="tg-bgtg">{{MAPE}}</td>
                </tr>
                <tr>
                <td class="tg-bgtg">MSE</td>
                <td class="tg-bgtg">{{MSE}}</td>
                </tr>
                <tr>
                <td class="tg-bgtg">MAE</td>
                <td class="tg-bgtg">{{MAE}}</td>
                </tr>
                <tr>
                <td class="tg-bgtg">Score</td>
                <td class="tg-bgtg">{{score}}</td>
                </tr>
            </tbody>
        </table>    
        <div class="row">
            <div class="col">
                <div class="table-container text-center" style="max-height: 300px;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="tg-c3ow" colspan="5">Desviaciones [MW]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tg-baqh">Resolución</td>
                                    <td class="tg-baqh">modelo (horario)</td>
                                    <td class="tg-baqh">MC (horario)</td>
                                    <td class="tg-baqh">modelo (diario)</td>
                                    <td class="tg-baqh">MC (diario)</td>
                                </tr>
                                <tr>
                                    {% for idx, desviacion in desviaciones.iterrows %}
                                <tr>
                                    <td class="tg-bgtg">{{desviacion.resolucion}}</td>
                                    <td class="tg-bgtg">{{desviacion.model.0}}</td>
                                    <td class="tg-bgtg">{{desviacion.MC.0}}</td>
                                    <td class="tg-bgtg">{{desviacion.model.1}}</td>
                                    <td class="tg-bgtg">{{desviacion.MC.1}}</td>
                                </tr>
                                {% endfor %}
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="table-container text-center" style="max-height: 300px;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="tg-c3ow" colspan="5">Número de desviaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tg-baqh">Resolución</td>
                                    <td class="tg-baqh">modelo {{best}} (horario)</td>
                                    <td class="tg-baqh">MC (horario)</td>
                                    <td class="tg-baqh">modelo {{best}} (diario)</td>
                                    <td class="tg-baqh">MC (diario)</td>
                                </tr>
                                <tr>
                                    {% for idx, desviacion in desviacionesNum.iterrows %}
                                <tr>
                                    <td class="tg-bgtg">{{desviacion.resolucion}}</td>
                                    <td class="tg-bgtg">{{desviacion.model.0}}</td>
                                    <td class="tg-bgtg">{{desviacion.MC.0}}</td>
                                    <td class="tg-bgtg">{{desviacion.model.1}}</td>
                                    <td class="tg-bgtg">{{desviacion.MC.1}}</td>
                                </tr>
                                {% endfor %}
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row lastRowTrain">
            <div class="col">
                <div class="guardar_modelo">
                    <h4>Guardar el modelo en la base de datos</h4>
                    <p align="justify">El modelo que acaba de ser entrenado aún no ha sido guardado, sí desea que este quede en la base de datos de Mileto de click en el botón de guardar.</p>
                    <div class="boton_guardar">
                        <form action="{% url 'save_model'%}" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="text" name="fileNameModel" value="{{fileName}}" style="display:none;">
                                <button type="submit">
                                    <img src="{% static 'images/Guardar.png'%}" alt="mas" />
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="ver_modelo">
                    <h4>Ver los modelos ya guardados</h4>
                    <p align="justify">Al dar click en el botón <label style="font-weight: bold;">modelos</label>, podrá acceder a todos los modelos que han sido entrenados anteriormente, el botón <label style="font-weight: bold;">info</label> lleva a la carpeta que contiene el metadata de la información con la que fueron entrenados esos modelos</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://drive.google.com/drive/folders/17BskLL0bgyjnsTTsXv6OkuXASzyylej7?usp=share_link"><img src="{% static 'images/Modelos.png'%}" alt="guardar" /></a>
                        </div>
                        <div class="col">
                            <a href="https://drive.google.com/drive/folders/1peyk-9Ym69AJH-qXxyD1cGA7GbFLumI7?usp=share_link"><img src="{% static 'images/Info.png'%}" alt="guardar" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    {% if data %}
        <script>
            call_results()
        </script>
    {% endif %}
        
</div>
{% endblock %}