:root{
    --b: #3F67E9;
    --b1: #1492E6;
    --r: #FF3341;
    --g1: #E4FF1A;
    --g2: #89FC00;
    --g3: #AFFC41;
    --w1: #FFFFFF;
    --w2: #F8F9FA;
    --w3: RGB(246,246,246,80);
    --gr1: #E9ECEF;
    --gr2: #DEE2E6;
    --gr3: #929394;
    --gr4: #b4b4b4;
    --bl1: #212529;
    --bl2: #484F56;
    --small: 6px;
    --medi-small: 11px;
    --medium: 13px;
    --large: 15px;
    --f1: 'SF Pro Display', sans-serif;
}

.content_data_page{
    margin-left: 10%;
}

.content_data_page .data_page{
    padding: 5%;
}

.content_data_page .row{
    height: 100%;
    width: 100%;
    min-height: 100%;
    padding-top: 3%;
}


.form-data{
    padding-top: 50px;
    width:60%;
}

form .form-select option:hover{ 
    background: var(--b) !important;
}

form .option_div{
    padding-bottom: 5%;
}

.option_div.warning{
    color: var(--r);
    margin-bottom: -10px;
    font-weight: bold;
}

.button_div {
    width:100%;
    display: flex;
    justify-content: center;
}

.button_div button img{
    width: 50px;
}

button[type="submit"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input,select{
    border-radius: 8px;
    border: 1px solid var(--gr4);
    padding-left: 8px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--medium);
    height: 28px;
}


.option_div select option:hover{
    background-color: var(--b);
}

input[type="checkbox"]{
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
