:root {
    --b: #3F67E9;
    --b1: #1492E6;
    --b2: #0000FF;
    --r: #FF3341;
    --g1: #E4FF1A;
    --g2: #89FC00;
    --g3: #AFFC41;
    --w1: #FFFFFF;
    --w2: #F8F9FA;
    --w3: RGB(246, 246, 246, 80);
    --gr1: #E9ECEF;
    --gr2: #DEE2E6;
    --gr3: #929394;
    --gr4: #b4b4b4;
    --bl1: #212529;
    --bl2: #484F56;
    --small: 6px;
    --medi-small: 11px;
    --medium: 13px;
    --large: 15px;
    --f1: 'SF Pro Display', sans-serif;
}


.content_data_page .container .home-row{
    width: 100%;
}

.nav-tabs .nav-link {
    color: #575757; /* Color gris para los tabs por defecto */
    font-size: var(--medi-small);
    font-weight: 500;
  }
  
  .nav-tabs .nav-link.active {
    background-color: var(--bl1);
    color: var(--w1); /* Color azul para el tab activo */
    font-size: var(--medi-small);
    font-weight: bold;
  }