{% extends "header.html" %}
{% load static %}
{% block content %}
<div class="content_data_page">
    <div class="data_page">
        <h2>Añadir información climatológica</h2>
        
        .for


        <form action="{% url 'subastar_1'%}" method = "POST">
            {% csrf_token %}
            <select name = "categoria" class="form-select select-category shadow-none" size="7" aria-label="size 7 select example">
                <option value="1">Carros y Camionetas</option>
                <option value="2">Motos</option>
                <option value="3">Autobuses</option>
                <option value="4">Camiones</option>
                <option value="5">Motocarros y Mototriciclos</option>
                <option value="6">Otros</option>
            </select>
            <div class="buttons-first">
                <div class = "button-for-go further">
                    <button type="submit">
                        <img src="{% static 'images/mas.svg'%}" alt="mas">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}