{% extends "layout.html" %}
{% load static %}
{% block navbar %}
<div class="nav_bar">
    <div class="logo">
        <img src="{% static 'images/mileto_logo3.svg'%}" alt="Logo" class="mx-auto">
    </div>
    <div class="home">
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
             <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <img src="{% static 'images/home.svg'%}" alt="Logo" class="mx-auto">
             </button>
             <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <img src="{% static 'images/forecast.svg'%}" alt="Logo" class="mx-auto">
            </button>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <img src="{% static 'images/add.svg'%}" alt="Logo" class="mx-auto">
            </button>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <img src="{% static 'images/settings.svg'%}" alt="Logo" class="mx-auto">
            </button>
          </div>
    </div>
    <div class="user_login">
        <img src="{% static 'images/mileto_login.svg'%}" alt="Logo" class="mx-auto">
    </div>
</div>
<div class="nav_bar_options to_small">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="list-group data">
            <a href="#" class="list-group-item list-group-item-action">Descargar</a>
            <a href="#" class="list-group-item list-group-item-action">Subir</a>
        </div>
    </div>
</div>

{% endblock %}