{% extends "header.html" %}
{% load static %}
{% block content %}
<div class="content_data_page">
    <div class="introduccion">
        <h1 class="glading">
            Bienvenid@ a Mileto!
        </h1>
        <p>
            Bienvenido a nuestra página web para predecir la demanda de energía eléctrica a corto plazo en los mercados de comercialización en Colombia. La predicción precisa de la demanda de energía es esencial para garantizar la estabilidad del sistema eléctrico y minimizar los riesgos asociados con la falta o exceso de generación.
        </p>
        <p>
            En esta página, utilizamos tanto modelos de soporte vectorial (SVR) como redes neuronales para predecir la demanda de energía. Los modelos SVR son una técnica de aprendizaje automático utilizada para resolver problemas de regresión, mientras que las redes neuronales son una técnica de aprendizaje automático inspirada en el cerebro humano que se utiliza para resolver problemas de clasificación y regresión. Ambos métodos se utilizan para analizar grandes cantidades de datos y hacer predicciones precisas.
        </p>
        
    </div>
</div>
{% endblock %}