{% extends "header.html" %}
{% load static %}
{% block content %}
<div class="content_data_page">
    <div class="container">
        <div class="row">
          <div class="col-12 mx-auto" style="border: 1px solid yellow;">
            <p>Este es el contenido centrado</p>
            <!-- Sección de entrenamiento -->
            <h3>Entrenamiento</h3>
            <iframe src="https://drive.google.com/file/d/1ZC8DjgkxYJzL0wv9lXn7y6QWqf8OcNtS/preview" width="640" height="480"></iframe>
            <!-- Sección de testeo -->
            <h3>Testeo</h3>
            <iframe src="https://drive.google.com/file/d/1ZC8DjgkxYJzL0wv9lXn7y6QWqf8OcNtS/preview" width="640" height="480"></iframe>
            <!-- Sección de añadir datos -->
            <h3>Añadir datos</h3>
            <iframe src="https://drive.google.com/file/d/1ZC8DjgkxYJzL0wv9lXn7y6QWqf8OcNtS/preview" width="640" height="480"></iframe>
          </div>
        </div>
    </div>
</div>
{% endblock %}