{% extends "header.html" %}
{% load static %}
{% block content %}
<div class="content_data_page">
    <div class="container">
        <div class="row  d-flex align-items-center justify-content-center vh-100">
          <div class="col-12">
            <!-- Sección de entrenamiento -->
            <h3>Entrenamiento</h3>
            <div style="position:relative;width:fit-content;height:fit-content;">
              <a style="position:absolute;top:20px;right:1rem;opacity:0.8;" href="https://clipchamp.com/watch/dMECOfliBDh?utm_source=embed&utm_medium=embed&utm_campaign=watch">
                  <img style="height:22px;" src="https://clipchamp.com/e.svg" alt="Made with Clipchamp" />
              </a>
              <iframe allow="autoplay;" allowfullscreen style="border:none" src="https://clipchamp.com/watch/dMECOfliBDh/embed" width="1280" height="360"></iframe>
          </div>
            <!-- Sección de testeo -->
            <h3>Testeo</h3>
            <iframe src="https://drive.google.com/file/d/1ZC8DjgkxYJzL0wv9lXn7y6QWqf8OcNtS/preview" width="640" height="480"></iframe>
            <!-- Sección de añadir datos -->
            <h3>Añadir datos</h3>
            <iframe src="https://drive.google.com/file/d/1ZC8DjgkxYJzL0wv9lXn7y6QWqf8OcNtS/preview" width="640" height="480"></iframe>
          </div>
        </div>
    </div>
</div>
{% endblock %}